body {
  background-color: aquamarine;
}
.main {
  height: 96vh;
  width: 100%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}
.container {
  width: 85%;
  height: 50px;
  margin: 0;
}
nav {
  min-height: 50px;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
  list-style: none;
}
a {
  text-decoration: none;
  margin: 0px 25px;
  color: gray;
}
.a {
  color: black;
}
.d{
    margin-right: 0;
}
.b {
  color: rgb(4, 224, 224);
  margin: 0;
}
.box {
  width: 85%;
  height: 400px;
  margin-top: 10px;
  display: flex;
}
.box1{
    width: 50%;
    height: 400px;
    align-content: center;
    
}
h1{
    font-size: 2.5em;
}
.work{
    font-family: "Bahnschrift Light";
    font-weight: normal;
    margin-bottom: 0;
}
span{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(4, 224, 224);
    font-weight: bold;
}
.exclu{
    font-family:"Bahnschrift Light";
    font-weight: normal;
    margin-top: 5px;
    font-family:"Bahnschrift Light";
}
.unique{
    color: black;
    font-weight: normal;
    font-family:"Bahnschrift Light";
}
p{
    color: gray;
    
}
button{
    /* padding: 15px 25px; */
    padding-top: 5px;
    padding-bottom: 12px;
    padding-left: 25px;
    padding-right: 28px;
    background-color: rgb(3, 209, 123);
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
}
img{
  width: 25px;
  margin-bottom: -9px;
  margin-right: 10px;
}
.box2{
    width: 50%;
    height: 400px;
}
.img{
  width: 80%;
  margin: 0 0;
  /* height: 400px; */
}
.box3{
  margin-top: 30px;
  width: 100%;
  height: 50px;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 15px;
}
.pra{
  text-align: center;
  margin-bottom: 0;
  color: black;
}
.train{
  color: black;
}