* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  height: 300px;
  width: 300px;
  box-shadow: 0 0 10px gray;
  border-radius: 10px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 15px 15px;
}
.item {
  width: 280px;
  height: 280px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  padding-top: 20px;
  flex-direction: column;
}
.containt {
  width: 100%;
  height: 65px;
  text-align: center;
}
h1 {
  font-size: 20px;
  margin-bottom: 5px;
}
.botton {
  width: 100%;
  height: 200px;
}
.a {
  width: 100%;
  background-color: rgb(13, 88, 249);
  color: white;
  border: none;
  padding: 6px;
  border-radius: 5px;
}
.b {
  width: 100%;
  background-color: rgb(13, 249, 99);
  color: white;
  border: none;
  padding: 6px;
  margin-top: 10px;
  border-radius: 5px;
}
.c {
  width: 100%;
  background-color: rgb(252, 232, 8);
  color: white;
  border: none;
  padding: 6px;
  margin-top: 10px;
  border-radius: 5px;
}
.d {
  width: 100%;
  background-color: rgb(249, 13, 13);
  color: white;
  border: none;
  padding: 6px;
  margin-top: 10px;
  border-radius: 5px;
}
.e {
  width: 100%;
  background-color: rgb(151, 152, 152);
  color: white;
  border: none;
  padding: 6px;
  margin-top: 10px;
  border-radius: 5px;
}
