   .box{
            height: 500px;
            width: 500px;
            background-color:rgb(5, 205, 115);
            border-radius: 10px;
            font-size: 22px;
            margin: auto;
        }
        .box2{
            margin-left: 40px;
            padding-top: 100px;
            font-family: calibri;
           
        }
        h1{
             text-shadow: 3px 4px 8px white;
        }
        p{
            font-size: 15px;
            font-weight: bold;
        }
        input{
            background-color: white;
            border: none;
            padding: 10px;
            width: 200px;
            border-radius: 50px;
            font-weight: bold;
            font-family: Arial;
            transition: all 1s;
        }
        input:hover{
            background-color: blue;
            cursor: pointer;
            color: white;
            font-weight: bolder;
        }