*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100vw;
    min-height: 500px;
    background-color: black;
    
}
.container{
    width: 100%;
    height: 500px;
    padding: 0 100px;
    /* display: flex; */
}
nav{
    min-height: 50px;
    min-width: 100%;
    background-color: black;
    padding: 4.5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
}
img{
    width: 50px;
    height: 40px;
    border-radius: 80px;
    border: 2px solid white;
    padding-left: 0
}
.box2{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 180px;
}
ul{
    display: flex;
    align-items: center;
    list-style: none;
    /* margin-left: 50px; */
    flex-wrap: wrap;
    font-family: calibri;
  
}
a{
   color: white;
   justify-content: center;
   margin: 0 10px;
   padding: 3px 10px;
   text-decoration: none;
   /* background-color: rgba(167, 162, 162, 0.192); */
   border-radius: 10px;
  
   
}
a:hover{
    transform: scale(1.1);
    background-color: rgba(137, 43, 226, 0.524);
}
button{
    padding: 2px 5px;
    font-weight: bold;
    transition: all 2s;
    background-color: aqua;
    border: none;
}
button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.Photo{
    width: 315px;
    height: 400px;
    border: none;
    border-radius: 0;
    margin-top: 45px;
}
.box{
    display: flex;
    /* flex-direction: column; */
}
.box3{
    width: 80%;
    height: 50px;
    margin-top: 60px;
    margin-left: 70px;

}
h5{
    width: 200px;
    color: rgb(0, 255, 225);
    font-family: calibri;
    font-size: 18px;
}
h2{
    color: white;
    margin-top: 10px;
    font-size: 50px;
    margin-bottom: 0px;
}
.Hacker{
    color: aqua;
    margin-top: 0px;
}
p{
    color: white;
    margin-top: 20px;
}