*{
    font-family: 'Bauhaus 93';
}
.main{
   width: 100wh; 
   min-height: 500px;
   border: 2px solid black;
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: url(./media/walkways.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   
}
.container{
    width: 85%;
    height: 350px;
    display: flex;
    gap: 25px;  
}
.item{
    height: 100%;
    width: 250px;
    background-color: white;
    justify-items: center;
}
.box{
    background-image: url(./media/Ravi1\ \(1\).jpg);
    background-size: cover;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-top: 30px;
}
.box1{
    background-image: url(./media/bhai.png);
    background-size: cover;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-top: 30px;
}
.box2{
    background-image: url(./media/Ravi1\ \(3\).jpg);
    background-size: cover;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-top: 30px;
}
.box3{
    background-image: url(./media/Ravi1\ \(4\).jpg);
    background-size: cover;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-top: 30px;
}
h2{
    padding-top: 40px;
}
p{
    margin-top: -10px;
    font-family: calibri;
}