.box{
    background-color: rgb(243, 243, 235);
    width: 300px;
    height: 500px;
    margin: auto;
} 
h1{
    margin-top: 20px;
}
.box2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 30px;
    padding-top: 1px;
}
.R{
    font-size: 20px;
    font-weight: bolder;
    font-family: calibri;
}
.H{
    width: 247px;
    height: 20px;
    padding: 7px;
    border: 1.5px solid rgb(207, 201, 201);
    border-radius: 10px;
    padding-left: 20px;
}
.H::placeholder{
    font-family: calibri;
    font-weight: bold;
}
.S{
    margin-top: 25px;
    width: 190px;
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 25px;
    color: white;
    background-color: black;
    font-weight: bolder;
    border: none;
}
.S:hover{
    background-color: green;
}
.box3{
    margin-top: 30px;
    text-align: center;
    font-family: calibri;
    color: rgb(166, 158, 158);
}
a{
    color: rgb(113, 112, 112);
}
.box4{
    margin-top: 10px;
    text-align: center;
    font-family: calibri;
    display: flex;
    flex-direction: column; 
    gap: 25px;
}
.L{
    margin-left: 5px;
    font-size: 13px;
    color: rgb(166, 158, 158);
    
}
.box5{
     display: flex;
    flex-direction: column; 
}