*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: Arial, Helvetica, sans-serif;
}
#main{
    width:100wh;
    height: 100vh;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgb(86, 86, 86);
    background-color:rgb(244, 227, 227);

}
.container{
    height: 230px;
    width: 150px;
    /* border: 2px solid black; */
    /* margin: auto; */
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: center;
    align-content: baseline;
    box-shadow: 0 0 10px black;
    background-color: white;

}
.item{
    width: 68px;
    height: 60px;
    transition: all 2s;
    border-radius: 5px;
    flex-wrap: wrap;
}
.item:hover{
    transform: scale(1.1);
}
img{
    height: 60px;
    width: 68px;
    border-radius: 5px;
}
h2{
    font-size: 10px;
    text-align: justify;
    padding: 5px 10px;
    margin-bottom: -35px;
    display: inline-block;
    
  
}
p{
    margin-top: -1px;
    font-size: 8px;
}
.box{
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    justify-content: center;
    align-content: stretch;
    margin-top: 20px;
    row-gap: 20px;
}
.box2{
    height: 20px;
}
a{
    text-decoration: none;
    color: black;
}
.button{
    height: 10px;
    width: 50px;
}
.an{
    font-size: 8px;
    padding-top: 10px;
    color: blue;
    
}
