*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#main{
    min-height: 100vh;
    padding: 20px 0;
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgb(86, 86, 86);
    background-color:rgb(244, 227, 227);
}
.container{
    height: 420px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: flex-start;
    align-content: baseline;
    box-shadow: 0 0 10px black;
    background-color: white;
}
.item{
    width: 125px;
    height: 125px;
    transition: all 2s;
    border-radius: 5px;
    flex-wrap: wrap;
}
.item:hover{
    transform: scale(1.1);
}
img{
    height: 125px;
    width: 125px;
    border-radius: 5px;
}
h2{
    font-size: 18px;
    text-align: left;
    padding: 5px 23px;
}
p{
    margin-top: -1px;
    font-size: 12px;
}
.box{
    display: flex;
    flex-wrap: wrap;
    gap: 30px 21px;
    justify-content: center;
    align-content: stretch;
    margin-top: 40px;
    row-gap: 30px;
}
.box2{
    height: 20px;
}
a{
    text-decoration: none;
    color: black;
}
.button{
    height: 10px;
    width: 50px;
}
.an{
    width: 100%;
    padding-left: 15px;
    font-size: 14px;
    text-align: left;
    display: block;
    padding-top: 20px;
    color: blue;   
}
