.main{
    width: 300px;
    height: 350px;
    box-shadow: 0 0 10px gray;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    border-radius: 15px;
    flex-direction: column;
}
.box{
    width: 300px;
    height: 250px;
    background-image: url(./media/food.webp);
    background-size: cover;
    border-radius: 15px;
    position: relative;
    font-family: calibri;
    
}

.child{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.646);
    top: 12px;
    left: 12px;
    padding: 1px 8px;
    font-family: calibri;
    font-size: 13px;
    border-radius: 3px;
}
.child1{
    position: absolute;
    bottom: 12px;
    background-color: rgb(0, 106, 255);
    color: white;
    padding: 1px 8px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 15px;
}
.child2{
    position: absolute;
    bottom: 12px;
    right: 12px;
    background-color: rgba(240, 255, 255, 0.853);
    padding: 1px 7px;
    font-size: 15px;
    border-radius: 3px; 
}
.box2{
    margin-top: 15px;
    padding-top: 25px;
}
h2{
    margin-top: -30px;
    font-size: 18px;
    font-family: calibri;
    margin-bottom: 5px;

}
span{
    margin-top: -10px;
    font-family: calibri;
}
.box3{
    margin-top: 20px;
    height:70px ;
    padding-top: 20px;
    border-top: 1px solid black;
    margin-bottom: 0px;
    display: flex;
    margin-bottom: -20px;
}
img{
    width: 70px;
    height: 40px;
    border-radius: 5px;
}
p{
    padding-left: 8px;
    margin-top: 1px;
    font-family: calibri;
}