* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(
    135deg,
    rgb(137, 227, 254),
    rgb(190, 229, 250)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.box1 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.box-1-item {
  width: 50%;
}

h3 {
  font-size: 2rem;
  font-family: calibri;
}
h1 {
  font-size: 4em;
  color: blue;
  font-family: "Cooper Black";
}
.box2 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box2 img {
  width: 100%;
}

@media (max-width: 750px) {
  .container {
    flex-direction: column-reverse;
    justify-content: start;
    padding-top: 1.5em;
    gap: 20px;
    /* align-items: center; */
  }
  .box1 {
    width: 100%;
    min-height: 30vh;
  }
  .box2 {
    width: 100%;
    min-height: 30vh;
  }
  .box-1-item {
    width: 60%;
  }
  h3 {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 3em;
  }
  .box2 img {
    width: 80%;
  }
}
